body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  background-color: #eeeeee;
  text-align: center;
}

h2 {
  font-size: 18px;
  line-height: 30px;
}

ul {
  list-style-type: none;
}

.main-header-logo {
  width: 160px;
  height: 68px;
}

.feedback {
  display: none;
}

.site-navigation a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  background: #eeeeee;
}
.basket {
  font-weight: 500;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #e74246;
}

.site-navigation a:active {
  color:#999999
}

.site-navigation .active {
  color: black;
  border-bottom: 1px solid #e74246;
}

.basket a:hover,
.basket a:focus {
  color: #e74246;
}

.basket a:active {
  color:#999999
}

.basket .active {
  color: black;
  border-bottom: 1px solid #e74246;
}

.feature-item {
  text-align: center;
  display: inline-block;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.caption {
  font-size: 45px;
  line-height: 45px;
}

.percent {
  font-size: 45px;
  line-height: 10px;
}

.pros {
  font-size: 16px;
  line-height: 18px;
  margin: 64px;
}

.partners {
  text-align: center;
  display: inline-block;
}

.window-title {
  font-size: 18px;
  line-height: 30px;
}

.social-networks {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.sale{
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.radio .checkbox {
  font-size: 16px;
  line-height: 20px;
}


.sort {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.datum {
  font-size: 14px;
  line-height: 18px;
}

.product {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  line-height: 18px;
}



.popup-window {
  color: #ffffff;
  background-color: #fb565a;
}

.popup-window button:hover,
.popup-window button:focus {
  color: #ffffff;
  background-color: #e74246;
}

.popup-window button:active {
  color: #e37376;
  background-color: #d7373b;
}

.show-form {
  color: #000000;
  background-color: #eeeeee;
}

.show-form button:hover,
.show-form button:focus{
  color: #000;
 background-color: #dfdfdf;
}

.show-form button:active {
  color: #b7b7b7;
  background-color: #d5d5d5;
}

.choice-button{
  color: #ffffff;
  background-color: #fb565a;
}

.choice-button button:hover,
.choice-button button:focus {
  color: #ffffff;
  background-color: #e74246;
}

.choice-button button:active {
  color: #ffffff;
  background-color: #d7373b;
}

/**
Сетка
 */

.container-header{
  border: 1px solid green;
  min-height: 133px;
  display: flex;
  justify-content: space-between;
}

.main-navigation {
  border: 1px solid red;
  min-height: 133px;
  background-color: transparent;


}

.main-header-logo {
  border: 1px solid yellow;
  width: 160px;
  height: 68px;
}

.site-navigation {
  border: 1px solid yellow;
  margin: 0;
  padding: 0;
  min-height: 70px;
  width: 540px;
}

.basket{
  border: 1px solid yellow;
  margin: 0;
  padding: 0;
  min-height: 20px;
  align-items: right;
  width: 180px;
}